<div class="contact">
    <p style="padding-top: 2%;">Welcome:</br> Only members can post comments, </br> become a member by joining below.</p>
    <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">Login &raquo;</a></p>
    <p>Become a member,</br> there are no costs to becomeing a member.</p>
     <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">Register &raquo;</a></p>
</div>
