// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// start of body template
Body {
    color: black;
    font-family: Verdama, Helvetica, Arial, serif;
    font-weight: 100;
}
h1, h2, h3 {
    color: black;
    font-weight: 100;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
h4 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
}

// start of nav
.navbar { 
  text-decoration: none;
  float: center;
  display: block;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: right;
  padding-right: 25%;
  padding-left: 25%;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  
}
#navLinks a:hover {
    color:#58ACFA;
    text-shadow: 2px 2px black;
 }
 #navLinks a {
    color:	white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: color 600ms;
    -webkit-transition: color 600ms;
}
#navLinks .navbar-nav> .active> a {
    color:#58ACFA;
    text-shadow: 3px 2px black;
}
// end of nav
// end of body template
// start of content template
#content {
  background: linear-gradient(silver, white);
  text-align: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  
}
#billBoard {
  padding: 0px;
  background-image: url(/assets/woodtexturebanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-style: solid;
  border-width: 2px;
}
#billboard, h1, h2 {
  color: white;
  text-shadow: 2px 2px black;
}

// end of content template
// start all pages
.home,
.contact,
.about,
.shop,
.blog {
  padding-top: 0%;
  padding-bottom: 5%;
}

.discription {
  padding-top: 2%;
}
// end all pages
// start home
.homeImg h3 {
  padding-top: 10%;
}
.home h2 {
  padding-bottom: 0%;
}
.img-responsive {
  width: 80%;
  height: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  margin: 0px;
}
// end home
// start contact
.contact {
  
}
// end of contact
// start of about
.about{
  
}
// end of about
// start of footer
footer p {
    margin: 0%;
    background-color: black;
    margin-left: -1%;
    margin-right: -1%;
    text-align: center;
    color: white;
}
#footerInfo {
  padding: 0px;
  background-image: url(/assets/woodtexturebanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-style: solid;
  border-width: 2px;
  padding-left: 5%;
}
#footerInfo p {
  color: white;
  text-shadow: 2px 2px black;
}  


// end of footer